.about-banner{
    background-image: url(../../images/bgn-team-members.jpg);
    background-position: center;
    background-size: cover;
}
.about-subheading::after{
    content: '';
    margin-top: 10px;
    height: 2px;
    position: absolute;
    background-color: #e10f28;
    width: 4%;
    display: block;
}
@media only screen and (max-width: 576px) {
    .about-banner-container{
        flex-direction: column!important;
    }
    .about-banner-texts{
        width: 100%!important;
    }
    .about-info-container{
        flex-direction: column!important;
    }
    .about-info{
        width: 100%!important;
    }
}