.home-banner{
    background-image: url(../../images/home-banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 180px 0px;
}

.banner-subheading::after{
    content: '';
    margin-top: 10px;
    height: 2px;
    position: absolute;
    background-color: #e10f28;
    width: 4%;
    display: block;
}
.consults-subheading::after{
    content: '';
    margin-top: 10px;
    height: 2px;
    position: absolute;
    background-color: #fff;
    width: 4%;
    display: block;
}
.consults-form-subheading::after{
    content: '';
    margin-top: 10px;
    height: 2px;
    position: absolute;
    background-color: #fff;
    width: 4%;
    display: block;
}
.newsletter-subheading::after{
    content: '';
    margin-top: 10px;
    height: 2px;
    position: absolute;
    background-color: #e10f28;
    width: 4%;
    display: block;
}

.banner-heading, .consults-heading, .newsletter-heading, .about-heading, .department-heading{
    font-size: 75px;
}
.banner-paragraph{
    font-size: 20px;
}
.services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.consults-section, .select-doctor{
    background-color: #e10f28;
}
.newsletter-section{
    background-image: url(../../images/bgn-newsletter-subscribe.jpg);
    background-position: center;
    background-size: cover;
}
#newsletter-email{
    border-radius: 30px;
}
@media only screen and (max-width: 576px){
    .home-banner-container{
        flex-direction: column;
    }
    .banner-texts{
        width: 100%!important;
    }
    .banner-buttons{
        flex-direction: column;
    }
    .services-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .consults-texts{
        width: 100%!important;
    }
    .consults-form{
        width: 100%!important;
        margin-top: 20px;
    }
    .consults-content{
        flex-direction: column;
    }
    .newsletter-container{
        flex-direction: column!important;
    }
    .newsletter-form-col{
        width: 100%!important;
    }
    .subscribe-form{
        flex-direction: column!important;
    }
    #newsletter-email{
        width: 100%!important;
    }
    .newsletter-submit{
        width: 100%!important;
    }
    .banner-heading, .consults-heading, .newsletter-heading, .about-heading, .department-heading{
        font-size: 50px;
    }
}