header{
    padding: 10px 0px;
}
.logo-part-two{
    color: #e10f28;
}
.logo-container{
    width: 30%;
}
.menu{
    width: 70%;
    text-align: end;
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 20;
    text-transform: uppercase;
    padding: 0px 15px;
}
.menu a:hover {
    color: #e10f28;
}
@media only screen and (max-width: 576px){
    .logo-container{
        width: 100%;
    }
    .header-container{
        display: flex;
        flex-wrap: wrap;
    }
    .menu{
        width: 100%;
        text-align: center;
    }
    .menu a{
        padding: 5px;
    }
    .logo{
        text-align: center!important;
    }
} 